.tab-content {
    display: none;
}

.active-tab {
    display: block;
}

.tab {
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}